<h1>{{item.title}}</h1>
<iframe id="gameplay" ng-init="resizeIframe('gameplay')" ng-src="{{iframeSrc}}" style="width:100%;min-height: 500px;"></iframe>
<div class="section">
    <button ng-click="fullScreen('gameplay')" class="btn btn-small waves-effect waves-light orange">Fullscreen<i class="large material-icons right">aspect_ratio</i></button>
    <a href="{{iframeSrc}}" target="_blank" class="btn btn-small waves-effect waves-light orange">Play in new window<i class="large material-icons right">tab</i></a>
    <button class="btn btn-small waves-effect waves-light orange">Embed code<i class="large material-icons right">code</i></button>
</div>
<p>{{item.desc}}</p>